/* ROOT STYLING */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Commissioner";
  src: url(/assets/webfonts/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf);
}
:root {
  --general-font: "Commissioner";
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --font-size: 1em;
}

/* GENERAL STYLING */
body {
  font-family: var(--general-font);
  font-size: var(--font-size);
  position: relative;
  background-color: hsl(0, 0%, 98%);
}
.container {
  width: 90%;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a:link {
  text-decoration: none;
  color: var(--black);
}
a:visited {
  text-decoration: none;
  color: var(--black);
}
.hidden {
  display: none;
}
.visibility-hidden {
  visibility: hidden;
}
.overlay {
  background-color: var(--black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 327vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(3px); */
  z-index: 3;
}
.span-days-desktop {
  display: none;
}

/* ## MOBILE VIEW STYLING */
/* ### HEADER */
header {
  background-image: url(/images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  padding: 1em 0;
  position: relative;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* #### NAVBAR STYLING */
.desktop-nav {
  display: none;
}
.menu {
  position: relative;
  cursor: pointer;
}
.btn-close-menu {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
nav {
  position: absolute;
  top: 50px;
  left: 20px;
  background-color: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: 5;
  box-shadow: 10px 50px 90px 90px rgba(0, 0, 0, 0.2);
}
.navbar a {
  padding: 1em;
  font-weight: 700;
  font-size: 1.5em;
}
.navbar a:nth-child(1),
.navbar a:nth-child(2) {
  border-bottom: 0.5px solid hsl(0, 0%, 80%);
}

/* ## MAIN STYLING */
main {
  background-color: hsl(0, 0%, 98%);
  max-width: 700px;
  margin: 0 auto;
}
/* ### SECTION ONE STYLING */
.one {
  background-color: #fff;
  margin-top: -3em;
  position: relative;
  border-radius: 10px;
  text-align: center;
  border: 0.5px solid hsl(0, 0%, 95%);
}
.section-logo {
  position: relative;
  top: -30px;
}
.texts h1 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.1em;
}
.texts p {
  color: var(--dark-gray);
  padding: 1em 0;
  font-size: var(--font-size);
  font-weight: 500;
  line-height: 1.5em;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1em 0;
}
.btn-bookmark-desktop {
  display: none;
}
.btn-back {
  background-color: var(--moderate-cyan);
  width: 30%;
  color: #fff;
  padding: 1em 0;
  border: none;
  border-radius: 30px;
  font-family: var(--general-font);
  font-weight: 500;
  font-size: var(--font-size);
}
.btn-bookmark {
  background: none;
  border: none;
}

/* ### SECTION TWO STYLING */
.two {
  margin: 1em 0;
  background-color: #fff;
  border: 0.5px solid hsl(0, 0%, 95%);
  border-radius: 10px;
  padding: 1em 0;
  text-align: center;
}
.backed,
.backers,
.days-left {
  margin: 1em 0;
}
.two h1 {
  font-size: 2em;
  font-weight: 700;
  margin: 0.3em 0;
}
.two p {
  color: var(--dark-gray);
  font-size: var(--font-size);
}
hr {
  width: 30%;
  margin-left: 6.7em;
}
.sliders {
  position: relative;
  margin-bottom: 1em;
}
.slider {
  border-radius: 10px;
  background-color: var(--moderate-cyan);
  padding: 0.3em 0;
  width: 80%;
  position: relative;
  z-index: 3;
}
.slider-two {
  border-radius: 10px;
  background-color: hsl(0, 0%, 80%);
  padding: 0.3em 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.slider-three {
  border-radius: 10px;
  background-color: hsl(0, 0%, 80%);
  padding: 0.3em 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* ### SECTION LAST STYLING */
.last {
  background-color: #fff;
  border: 0.5px solid hsl(0, 0%, 95%);
  border-radius: 10px;
  padding: 1em 0;
}
.about {
  padding: 1em 0;
  margin-bottom: 1em;
}
/* .about h1 {
  font-size: 0.5em;
  
} */
.abt {
  font-size: 1em !important;
  padding: 0.5em 0;
  font-weight: 700;
}
.about p {
  color: var(--dark-gray);
  line-height: 1.5em;
  font-size: var(--font-size);
  font-weight: 500;
}
.p-one {
  margin-bottom: 1em;
}
.bamboo-stand {
  border: 1px solid hsl(0, 0%, 48%);
  padding: 1em 0;
  border-radius: 10px;
}
.last h3 {
  font-size: var(--font-size);
  font-weight: 800;
}
.last h4 {
  color: var(--moderate-cyan);
  font-weight: 500;
  padding: 0.5em 0;
}
.last p {
  margin: 1em 0;
  color: var(--dark-gray);
  line-height: 1.5em;
  font-weight: 500;
}
.last h1 {
  font-weight: 800;
  font-size: 2.2em;
}
.span-days {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.span-days p {
  margin: 1em 0;
  color: var(--dark-gray);
  line-height: 1.5em;
  font-weight: 500;
}
.btn {
  padding: 1em 0;
  width: 60%;
  border: none;
  background-color: var(--moderate-cyan);
  border-radius: 30px;
  color: #fff;
  font-family: var(--general-font);
  font-size: var(--font-size);
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--dark-cyan);
}
.black-edition {
  border: 1px solid hsl(0, 0%, 48%);
  padding: 1em 0;
  border-radius: 10px;
  margin: 1em 0;
}
.mahogamy {
  border: 1px solid hsl(0, 0%, 48%);
  padding: 1em 0;
  border-radius: 10px;
  opacity: 0.3;
}
.btn-out {
  background-color: var(--dark-gray);
}

/* ### SUCCESS MODAL STYLING */
.success {
  background-color: #fff;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  padding: 1em 0;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
}
.image-check {
  padding: 1em 0;
}
.success-text h1 {
  font-size: 1.2em;
  font-weight: 800;
}
.success-text p {
  color: var(--dark-gray);
  font-size: 1em;
  padding: 1em 0;
  line-height: 1.7em;
}

/* ### SELECTION MODAL STYLING */
.selection {
  background-color: #fff;
  padding: 1em 0;
  border-radius: 10px;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  max-width: 700px;
  z-index: 10;
}
.selection-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}
.big-text {
  font-size: 1.5em;
  font-weight: 700;
}
.selection-text {
  font-size: var(--font-size);
  line-height: 1.5em;
  color: var(--dark-gray);
  font-weight: 500;
}
/* #### NO-PLEDGE STYLING */
.no-pledge {
  margin: 1em 0;
  border: 1px solid hsl(0, 0%, 48%);
  padding: 1em 0;
  border-radius: 10px;
}
.pledge-header {
  padding: 1em 0;
  display: flex;
  gap: 1em;
  font-size: 1.2em;
  align-items: center;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: hsl(176, 72%, 28%);
}
.pledge-label {
  font-size: 0.8em !important;
  font-weight: 800;
  cursor: pointer;
}
.pledge-text {
  padding: 1em 0;
  line-height: 1.5em;
  color: var(--dark-gray);
  font-size: 1em;
  font-weight: 500;
}
.pledge-label:hover {
  color: var(--moderate-cyan);
}

/* #### BAMBOO STAND STYLING */
.bamboo-stand-no {
  margin: 1em 0;
  border: 1px solid hsl(0, 0%, 48%);
  padding: 1em 0;
  border-radius: 10px;
}
.bamboo-header {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 1em 0;
}
.bamb h1 {
  font-size: var(--font-size);
  font-weight: 800;
  cursor: pointer;
}
.bamb h1:hover {
  color: var(--moderate-cyan);
}
.bamb h2 {
  color: var(--moderate-cyan);
  font-size: var(--font-size);
  font-weight: 700;
  padding: 0.5em 0;
}
.bamboo-text {
  padding: 1em 0;
  line-height: 1.5em;
  color: var(--dark-gray);
  font-size: var(--font-size);
  font-weight: 500;
}
/* #### BLACK EDITION STYLING */
.selection-black {
  margin: 1em 0;
  border: 1px solid hsl(0, 0%, 48%);
  padding: 1em 0;
  border-radius: 10px;
}
.black-header {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 1em 0;
}
.black h1 {
  font-size: var(--font-size);
  font-weight: 800;
  cursor: pointer;
}
.black h1:hover {
  color: var(--moderate-cyan);
}
.black h2 {
  color: var(--moderate-cyan);
  font-size: var(--font-size);
  font-weight: 700;
  padding: 0.5em 0;
}
.black-stand-text {
  padding: 1em 0;
  line-height: 1.5em;
  color: var(--dark-gray);
  font-size: var(--font-size);
  font-weight: 500;
}
/* MAHOGAMY SELECTION STYLING */
.selection-mahogamy {
  margin: 1em 0;
  border: 1px solid hsl(0, 0%, 48%);
  padding: 1em 0;
  border-radius: 10px;
  opacity: 0.4;
}
.mahogamy-header {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 1em 0;
}
.mahogamy-select h1 {
  font-size: var(--font-size);
  font-weight: 800;
  cursor: pointer;
}
.mahogamy-select h1:hover {
  color: var(--moderate-cyan);
}
.mahogamy-select h2 {
  color: var(--moderate-cyan);
  font-size: var(--font-size);
  font-weight: 700;
  padding: 0.5em 0;
}
.mahogamy-text {
  padding: 1em 0;
  line-height: 1.5em;
  color: var(--dark-gray);
  font-size: var(--font-size);
  font-weight: 500;
}
/* #### SELECTED PLEDGE STYLING */
.selected-pledge {
  border-top: 1px solid hsl(0, 0%, 48%);
  padding: 1em 0;
  text-align: center;
}
.your-pledge-text {
  color: var(--dark-gray);
  font-size: var(--font-size);
  font-weight: 500;
  padding: 1em 0;
}
.pledge-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.your-pledge {
  width: 70%;
  padding: 1em 1em 1em 2.5em;
  border-radius: 50px;
  border: 1px solid hsl(0, 0%, 80%);
  cursor: pointer;
  font-family: var(--general-font);
  font-weight: 800;
}
.your-pledge:hover,
.your-pledge:active {
  border: 1px solid hsl(176, 50%, 47%);
}
.pledge-input {
  position: relative;
}
.dollar {
  position: absolute;
  color: hsl(0, 0%, 80%);
  font-size: var(--font-size);
  font-weight: 700;
  top: 13px;
  left: 40px;
}

/* DESKTOP SCREEN - 500px */
@media (min-width: 500px) {
  header {
    background-image: url(/images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .container {
    width: 80%;
  }
  .desktop-nav {
    display: flex;
    gap: 2em;
  }
  .desktop-nav a {
    color: #fff;
  }
  .mobile-nav {
    display: none;
  }
  main {
    background-color: hsl(0, 0%, 98%);
  }
  .btn-bookmark {
    display: none;
  }
  .btn-bookmark-desktop {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-right: 1.5em;
    border: none;
    border-radius: 30px;
    font-family: var(--general-font);
    color: var(--dark-gray);
    font-weight: 700;
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
  }
  .btn-bookmark-desktop:hover img {
    opacity: 0.5;
  }
  .btn-back {
    width: 30%;
  }
  hr {
    display: none;
  }
  .row {
    display: flex;
    gap: 2em;
    align-items: center;
  }
  .backed,
  .backers {
    border-right: 1px solid hsl(0, 0%, 80%);
    padding-right: 2em;
  }
  .row-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-select,
  .btn-out {
    width: 30%;
  }
  .success {
    left: 35%;
  }
  .selection {
    left: 25%;
    top: 10%;
  }
  .pledge-text {
    margin-left: 2.3em;
  }
  .bamboo-header,
  .black-header,
  .mahogamy-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bamb,
  .black,
  .mahogamy-select {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .span-days-desktop {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .row-bb {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .span-days {
    display: none;
  }
  .bamboo-text,
  .black-stand-text,
  .mahogamy-text {
    margin-left: 2.2em;
  }
  .selected-pledge .container {
    display: flex;
    justify-content: space-between;
  }
}
/* ATTRIBUTION STYLING */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
